[submodule "vendor/OSMExpress"]
	path = onramp-c++/vendor/OSMExpress
	url = git@github.com:protomaps/OSMExpress.git
[submodule "vendor/TinyXML2"]
	path = onramp-c++/vendor/TinyXML2
	url = git@github.com:leethomason/tinyxml2.git
